* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik';
}

.inicio, .aparcamientos, .weather-app {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

